<input type="number" [(ngModel)]="video.id" placeholder="Id">
<input [(ngModel)]="video.foto" placeholder="Foto">
<input type="number" [(ngModel)]="video.horas" placeholder="Horas">
<input type="number" [(ngModel)]="video.minutos" placeholder="Minutos">
<input type="number" [(ngModel)]="video.segundos" placeholder="Segundos">
<input [(ngModel)]="video.titulo" placeholder="Título">
<input [(ngModel)]="video.descripcion" placeholder="Descripción">
<input [(ngModel)]="video.codigo" placeholder="Código">
<button (click)="guardar()">Guardar</button>