<app-cabecera></app-cabecera>

<h1>Hola a todos</h1>
<titulo texto="Hola"></titulo>
<titulo texto="Qué tal"></titulo>
<titulo texto="Ahora puedo personalizar el texto"></titulo>
<titulo texto="De cada título"></titulo>
<titulo></titulo>
<labelinput etiqueta="Nombre"></labelinput>
<labelinput etiqueta="Apellidos"></labelinput>
<labelinput etiqueta="Dirección"></labelinput>
<labelinput etiqueta="Fecha de nacimiento" tipo="date"></labelinput>
<labelinput etiqueta="Email" tipo="email"></labelinput>
<div>
    <label>Email</label>
    <input type="email" placeholder="Email">
</div>

<app-pie></app-pie>