div {
    display: flex;
    align-items: baseline;
}

label {
    width: 10rem;
}

input {
    flex-grow: 1;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid darkgray;
}