<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Producto 1</td>
            <td>1.234,56€</td>
            <td>
                <a href="#">Editar</a>
                <a href="#">Borrar</a>
            </td>
        </tr>
        <tr>
            <th>1</th>
            <td>Producto 1</td>
            <td>1.234,56€</td>
            <td>
                <a href="#">Editar</a>
                <a href="#">Borrar</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#">Añadir</a>
            </td>
        </tr>
    </tfoot>
</table>
