<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos">
            <th>{{producto.id}}</th>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}€</td>
            <td>
                <a routerLink="formulario">Editar</a>
                <a routerLink="">Borrar</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a routerLink="formulario">Añadir</a>
            </td>
        </tr>
    </tfoot>
</table>
