<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th class="text-end">Id</th>
            <th>Nombre</th>
            <th class="text-end">Precio</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos">
            <th class="text-end">{{producto.id}}</th>
            <td>{{producto.nombre}}</td>
            <td class="text-end">{{producto.precio}}€</td>
            <td>
                <a class="btn btn-sm btn-primary" routerLink="formulario/{{producto.id}}">Editar</a>
                <a class="btn btn-sm btn-danger" (click)="borrar(producto.id)">Borrar</a>
            </td>
        </tr>
    </tbody>
    <tfoot class="table-dark">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-sm btn-primary" routerLink="formulario">Añadir</a>
            </td>
        </tr>
    </tfoot>
</table>
