<nav class="navbar navbar-expand-{{expandir}} bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="{{titulo.vinculo}}">{{titulo.etiqueta}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-{{expandir}}-0">
                <li *ngFor="let opcion of opcionesMenu" class="nav-item">
                    <a class="nav-link" routerLink="{{opcion.vinculo}}">{{opcion.etiqueta}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
